table{
    background-color: #FFFF5C;
    width: 100%;
    color:#51087E;
    text-align: center;
    font-size: 16px;
}
.songTitle{
    text-align: left;
}
.title{
    font-size: 18px;
    background-color: #FFFF8A;
    height: 6vh;
}
.item{
    height: 5vh;
    color: #A020F0;
}
.item:hover{
    background-color: #FFFF8A;
    color: #D7A1F9;
}
.scrollbar{
    overflow-x:hidden;
    overflow-y: scroll;
}
.style-6::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.style-6::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}
.style-6::-webkit-scrollbar-thumb{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
	transparent 25%,
	transparent 50%,
	rgba(255, 255, 255, .2) 50%,
	rgba(255, 255, 255, .2) 75%,
	transparent 75%,
	transparent)
}
